.product-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background: #ffffff;
    transform: translateY(100%);
    transition: transform 0.2s;
}

.product-bar.active {
    transform: translateY(0);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(163,163,163,1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(163,163,163,1);
    box-shadow: 0px 0px 18px 0px rgba(163,163,163,1);
}

.product-bar-wrap {
    display: flex;
    align-items: center;
    padding-right: 150px;
    position: relative;
}

.product-bar-wrap .product-form {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.product-bar-wrap .product-media {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    flex-shrink: 0;
}

.product-bar-wrap .product-media img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.product-bar-wrap .product__title h1 {
    font-size: 24px;
}